<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | GitGate</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap3/css/bootstrap.min.css')}}" />
    <script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
<style type="text/css">
.code-line-added { 
    background-color: #cfc;
}
.code-line-removed {
    background-color: #fcc;
}
.color-outdated, .color-rejected {
    color: #f22;
}
.color-merged, .color-approved { 
    color: #3d3;
}
.color-committed { 
    color: #22f;
}
.color-reviewed { 
    color: #0ad;
}
</style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
{% with messages = get_flashed_messages(category_filter=['message']) %}
{% if messages %}
<div class="alert alert-info">
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
</div>
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=['error']) %}
{% if errors %}
<div class="alert alert-danger">
{% for msg in errors %}
<p>{{msg}}</p>
{% endfor %}
</div>
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</div>

<script src="{{url_for('static', filename='bootstrap3/js/bootstrap.min.js')}}"></script>
</body>
</html>
