{% extends 'base.html' %}
{% block title %} Git Diff {% endblock %}
{% block content %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<div>
    <h1>File Diff: <code>{{commit_file.file_path}}</code></h1>
    <h3>
        <a href="{{url_for('commit', pid=commit.project.id, cid=commit.id)}}">back to commit</a>
    </h3>
    <p>Showing only differences between <code>development:{{commit.sha1}}/{{commit_file.file_path}}</code> and <code>stable:HEAD/{{commit_file.file_path}}</code></p>
    <p><b>{{commit_file.change_type}}</b> {{commit_file.file_path}}
        &nbsp; &nbsp;
        <b>Showing {{context}} lines of context:</b>
        <a href="{{ url_for('commit_file', pid=commit.project.id, cid=commit.id) }}?fpath={{                   commit_file.file_path|urlencode}}&amp;context=0">None</a> |
        <a href="{{ url_for('commit_file', pid=commit.project.id, cid=commit.id) }}?fpath={{                   commit_file.file_path|urlencode}}&amp;context=1">1</a> |
        <a href="{{ url_for('commit_file', pid=commit.project.id, cid=commit.id) }}?fpath={{                   commit_file.file_path|urlencode}}&amp;context=10">10</a> |
        <a href="{{ url_for('commit_file', pid=commit.project.id, cid=commit.id) }}?fpath={{                   commit_file.file_path|urlencode}}&amp;context=25">25</a> |
        <a href="{{ url_for('commit_file', pid=commit.project.id, cid=commit.id) }}?fpath={{                   commit_file.file_path|urlencode}}&amp;context=100">100</a> |
        <a href="{{ url_for('commit_file', pid=commit.project.id, cid=commit.id) }}?fpath={{                   commit_file.file_path|urlencode}}&amp;context=200">Max</a>
    </p>
</div>
<pre class="prettyprint">
{{diff|safe}}
</pre>
{% endblock %}
