{% extends 'base.html' %}
{% block title %}Commits{% endblock %}
{% block content %}

{% macro commit_link(ltext, lclass='', apage=None, alimit=None, astatus_filter=None) %}
<a href="{{url_for('commits', pid=project.id)}}?limit={% if alimit %}{{alimit}}{% else %}{{limit}}{% endif %}&amp;page={% if apage %}{{apage}}{% else %}1{% endif %}&amp;status_filter={% if astatus_filter %}{{astatus_filter|join(',')}}{% else %}{{statuses|join(',')}}{%endif%}" class="{{lclass}}">{{ltext|safe}}</a>
{% endmacro %}

<h1>Commits for {{project.name}}</h1>
<h3><a href="{{url_for('projects')}}">back to projects</a></h3>
<div>
    {{commit_link("All", lclass='btn btn-primary',astatus_filter=[NA])}}
    {{commit_link("Committed", lclass='btn btn-info',astatus_filter=['committed'])}}
    {{commit_link("Reviewed", lclass='btn btn-info',astatus_filter=['reviewed'])}}
    {{commit_link("Approved", lclass='btn btn-success',astatus_filter=['approved'])}}
    {{commit_link("Merged", lclass='btn btn-success',astatus_filter=['merged'])}}
    {{commit_link("Rejected", lclass='btn btn-danger',astatus_filter=['rejected'])}}
    {{commit_link("Outdated", lclass='btn btn-danger',astatus_filter=['outdated'])}}
</div>
{% if statuses %}
<h4>Showing commits listed as <i>{{statuses|join(', ')}}</i></h4>
{% else %}
<h3>Showing all commits</h3>
{% endif %}

<div>
<p class="pull-left">
{% if page > 1 %}
{{ commit_link('<span class="glyphicon glyphicon-chevron-left"></span>previous', apage=page-1) }}
{% endif %}
{% if commits.wrapped_count(False) >= limit %}
{{ commit_link('next<span class="glyphicon glyphicon-chevron-right"></span>', apage=page+1) }}
{% endif %}
</p>

<p class="pull-right">
Showing {{limit}} results per page:
{% if limit != 10 %}
{{ commit_link('10', alimit=10) }} |
{% endif %}
{% if limit != 25 %}
{{ commit_link('25', alimit=25) }} |
{% endif %}
{% if limit != 50 %}
{{ commit_link('50', alimit=50) }} 
{% endif %}
<p>

<p style="clear: both;"></p>
</div>

{% if commits.wrapped_count(False) > 0 %}
<table class="table table-hover table-striped">
<thead>
<tr>
    <th>Author Date</th>
    <th>Author</th>
    <th>Branch</th>
    <th>Message</th>
    <th>Status</th>
    <th>Actions</th>
</tr>
</thead>
<tbody> 
{% for c in commits %}
<tr>
    <td><span class="text-muted">
      {{c.author_date}}
       </span>
    </td>
    <td><i>{{c.author_name}}</i></td>
    <td><b>{{c.branch}}</b></td>
    <td>{{c.message}}</td>
    <td><b class="color-{{c.status}}">{{c.status}}</b></td>
    <td>
        <a href="{{url_for('commit', pid=project.id, cid=c.id)}}">View</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h4>No results</h4>
{% endif %}
{% endblock %}
